﻿<div class="page">
    @*<section class="d-none d-xl-block"><a class="d-block" href="https://www.templatemonster.com/landing-page-template/profilab-marketing-agency-clean-html-bootstrap-landing-page-template-79220.html" target="_blank"><img class="img-responsive" src="~/images/banner-top-2050x60.jpg" alt="" width="2050" height="60" /></a></section>*@
    <!-- Page Header-->
    <header class="section page-header" data-type="anchor">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-fixed" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="#"><img src="~/images/logo-default-480x80.png" width="240" height="40" alt=""></a>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active">
                                        <a class="rd-nav-link" href="#home">Главная</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="#services">Сервисы</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="#testimonials">Пример</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="#about-us">О нас</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="#contact-us">Подключиться</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="#"><img src="~/images/logo-ydacha.svg" width="240" height="40" alt=""></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="swiper-container swiper-slider swiper-slider-minimal" id="home" data-loop="true" data-slide-effect="fade" data-autoplay="3500" data-simulate-touch="true">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="../images/slider-minimal-slide-1-1920x888.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="swiper-slide-text">
                            <div class="text-large">Лучшее решение для управления посёлком</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="../images/slider-minimal-slide-2-1920x888.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="swiper-slide-text">
                            <div class="text-large">Ваш посёлок в сети Интернет 24/7</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="../images/slider-minimal-slide-3-1920x888.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="swiper-slide-text">
                            <div class="text-large">Прием платажей. Контроль над задолженностью</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="../images/slider-minimal-slide-3-1920x888.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="swiper-slide-text">
                            <div class="text-large">Собственный сайт посёлка без затрат на программиста и хостинг!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination-outer container">
            <div class="swiper-pagination swiper-pagination-black swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
        </div>
    </div>
    <!-- Our Services-->
    <section class="section section-lg text-center" id="services" data-type="anchor">
        <div class="container">
            <h3 class="wow-outer"><span class="wow slideInUp">Возможности нашего сервиса</span></h3>
            <p class="wow-outer"><span class="text-width-1 wow slideInDown">TSN-ONLINE.RU рассчитан на удовлетворение потребностей администрации дачного / садоводческого объединения и его жителей в части информационного взаимодействия и приема платежей</span></p>
            <div class="row row-50 row-xxl-70 offset-top-2">
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft">
                        <div class="box-light-icon fl-bigmug-line-flag53"></div>
                        <h4 class="box-light-title">Управление</h4>
                        <p>Успешное управление Объединением - это, в первую очередь, своевременное информирование жителей о жизни в поселке, принимаемых решениях</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft" data-wow-delay=".05s">
                        <div class="box-light-icon fl-bigmug-line-equalization3"></div>
                        <h4 class="box-light-title">Гибкость</h4>
                        <p>Свободное размещение данных о посёлке, индивидуальные настройки для каждого объединения</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft" data-wow-delay=".1s">
                        <div class="box-light-icon fa-eye"></div>
                        <h4 class="box-light-title">Всё под контролем</h4>
                        <p>Полный контроль на учетными записями жителей. Электронная приёмная Администрации для всех</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft" data-wow-delay=".15s">
                        <div class="box-light-icon fl-bigmug-line-file69"></div>
                        <h4 class="box-light-title">Рассчеты в порядке</h4>
                        <p>Прием платежей через сайт, а также интеграция сайта с Вашей 1С предоставит полную информацию о состоянии расчетов с жителями в один клик</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft">
                        <div class="box-light-icon fl-bigmug-line-share27"></div>
                        <h4 class="box-light-title">Информирование</h4>
                        <p>Новости, рассылки, уведомления. О Ваших решениях узнают всё жители.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft">
                        <div class="box-light-icon fl-bigmug-line-electronic57"></div>
                        <h4 class="box-light-title">Бухгалтерское обслуживание</h4>
                        <p>Четкое и своевременное бухгалтерское обслуживание Вашего поселка опытными спечиалистами</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
                    <!-- Box Light-->
                    <article class="box-light wow slideInLeft" data-wow-delay=".05s">
                        <div class="box-light-icon fl-bigmug-line-up114"></div>
                        <h4 class="box-light-title">Развитие</h4>
                        <p>Проект tsn-online.ru набирает обороты! Наша команда постоянно работает над улучшением и расширением сервисов сайта.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="section section-lg bg-primary" id="testimonials" data-type="anchor">
        <div class="container">
            <div class="row row-50 justify-content-center justify-content-lg-between">
                <div class="col-md-10 col-lg-6 col-xl-5">
                    <h3 class="wow-outer"><span class="wow slideInDown">Просто и понятно</span></h3>
                    <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s">Ничего лишеного. Вся основная информация и кнопки демонстрируются на главной странице Сайта. Интерфейс доступен для пользователей с любым уровнем подготовки.</span></p>
                    <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Сайт удобно отображается на самых разных устройствах, маленьких и больших экранах, что особенно важно в условиях загородной жизни, когда ноутбук или ПК недоступны.</span></p>
                </div>
                <div class="col-md-10 col-lg-6 wow-outer">
                    <img class="img-responsive wow slideInRight" src="../images/tsn-demo.bmp" alt="" width="570" height="368" />
                </div>
            </div>
        </div>
    </section>
    <!-- A Few Words About Us-->
    <section class="section section-lg bg-gray-100" id="about-us" data-type="anchor">
        <div class="container">
            <div class="row row-50 justify-content-center justify-content-lg-between">
                <div class="col-md-10 col-lg-6 col-xl-5">
                    <h3 class="wow-outer"><span class="wow slideInDown">Несколько слов о команде проекта TSN-ONLINE.RU</span></h3>
                    <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Изначально проект разрабатывался для нужд девелоперской Компании "Удача" (www.ydacha.ru), под управлением которой находится свыше двадцати садоводческих / коттеджных посёлков</span></p>
                    <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s">Как никто другой наша Команда знает о потребностях администраторов посёлков и жителей. Услугами TSN-ONLINE.RU пользуются 2000 клиентов Компании Удача, а сам проект обеспечен поддержкой высокопрофессионального коллектива Компании.</span></p>
                    <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInDown" data-wow-delay=".1s" href="https://ydacha.ru" target="_blank">Компания "Удача"</a></div>
                </div>
                <div class="col-md-10 col-lg-6 wow-outer">
                    <img class="img-responsive wow slideInRight" src="../images/our-team.jpg" alt="" width="570" height="368" />
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us-->
    <section class="section container" id="contact-us" data-type="anchor">
        <div class="range justify-content-center">
            <div class="cell-xl-6 container">
                <div class="row">
                    <div class="col-lg-9 cell-inner">
                        <div class="section-lg">
                            <h3 class="wow-outer"><span class="wow slideInDown">Оставить заявку на подключение</span></h3>
                            <!-- RD Mailform-->
                            <form class="" @*data-form-output="form-output-global" data-form-type="contact"*@ method="post" action="../Home/Mailform" target="_blank" id="mainForm">
                                <div class="row row-10">
                                    <div class="col-md-6 wow-outer">
                                        <div class="form-wrap wow fadeSlideInUp">
                                            <label class="form-label-outside" for="contact-first-name">Имя</label>
                                            <input class="form-input" id="contact-first-name" type="text" name="name" @*data-constraints="@Required"*@>
                                        </div>
                                    </div>
                                    <div class="col-md-6 wow-outer">
                                        <div class="form-wrap wow fadeSlideInUp">
                                            <label class="form-label-outside" for="contact-last-name">Фамилия</label>
                                            <input class="form-input" id="contact-last-name" type="text" name="surename" data-constraints="@*@Required*@">
                                        </div>
                                    </div>
                                    <div class="col-md-6 wow-outer">
                                        <div class="form-wrap wow fadeSlideInUp">
                                            <label class="form-label-outside" for="contact-email">E-mail</label>
                                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@*@Email @Required*@">
                                        </div>
                                    </div>
                                    <div class="col-md-6 wow-outer">
                                        <div class="form-wrap wow fadeSlideInUp">
                                            <label class="form-label-outside" for="contact-phone">Телефон</label>
                                            <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@*@PhoneNumber @Required*@">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-md-12 wow-outer">
                                        <div class="form-wrap wow fadeSlideInUp">
                                            <label class="form-label-outside" for="contact-message">Ваши комментарии к заявке</label>
                                            <textarea class="form-input" id="contact-message" name="message" data-constraints="@*@Required*@"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="group group-middle">
                                    <div class="wow-outer">
                                        <button class="button button-primary  wow slideInRight" type="submit" form="mainForm">Отправить</button>
                                    </div>
                                    @*<p>or use</p>
                                        <div class="wow-outer"><a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft" href="#"><span class="icon text-accent mdi mdi-facebook-messenger"></span>Messenger</a></div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-xl-6 container">
                <div class="row">
                    <div class="col-lg-9 cell-inner">
                        <div class="section-lg">
                            <h3 class="wow-outer"><span class="wow slideInDown">Демонстрационный доступ</span></h3>
                            <!-- RD Mailform-->
                            <div class="col wow-outer mt-5">
                                <p><span>логин:</span><b class="font-weight-bold">demoAdmin@tsn-online.ru</b></p>
                                <p><span>пароль:</span><b class="font-weight-bold">111111</b></p>
                                <h4><a href="https://tsn-online.ru" target="_blank" class="text-primary">Попробовать...</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fullwidth Gallery -->
    @{/*<section class="section text-center">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-dots-space" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="0" data-lightgallery="group" data-mouse-drag="false">
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-1.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-1-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-2.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-2-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-3.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-3-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-4.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-4-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-5.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-5-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
              <!-- Thumbnail Thin-->
              <div class="wow-outer">
                  <a class="thumbnail-thin wow slideInLeft" href="../images/gallery-original-6.jpg" data-lightgallery="item">
                      <div class="thumbnail-thin-inner">
                          <img class="thumbnail-thin-image" src="~/images/galleries-6-640x640.jpg" alt="" width="640" height="640" />
                      </div>
                  </a>
              </div>
          </div>
      </section>
      <section><a class="d-block" href="https://www.templatemonster.com/landing-page-template/profilab-marketing-agency-clean-html-bootstrap-landing-page-template-79220.html" target="_blank"><img class="img-responsive" src="~/images/banner-bottom-2050x310.jpg" alt="" width="2050" height="310" /></a></section>
      <!-- Page Footer-->*/}
    <footer class="section footer-linked bg-gray-700">
        <div class="footer-linked-main">
            <div class="container">
                <div class="row row-50">
                    <div class="col justify-content-center align-content-center">
                        <h4>Контактная информация</h4>
                        <hr>
                        <ul class="list-sm">
                            <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker text-gray-700"></span><a class="link-default" href="#">Москва, Щекина 28, оф.408б <br> 129090, Россия</a></li>
                            <li class="object-inline">
                                <span class="icon icon-md mdi mdi-phone text-gray-700"></span>
                                <ul class="list-0">
                                    <li><a class="link-default" href="tel:#">+7(495) 746-0000</a></li>
                                    <li><a class="link-default" href="tel:#">+(916) 298-07-00</a></li>
                                </ul>
                            </li>
                            <li class="object-inline"><span class="icon icon-md mdi mdi-email text-gray-700"></span><a class="link-default" href="mailto:#">dstepanov@ydacha.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-linked-aside">
            <div class="container">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Все права защищены</span></p>
            </div>
        </div>
    </footer>
</div>

<div class="preloader">
    <div class="preloader-logo"><img src="~/images/logo-default-480x80.png" width="240" height="40" alt=""></div>
    <div class="preloader-body">
        <div id="loadingProgressG">
            <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
    </div>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>